/* Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*
,*::before
, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}


button {
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-family: inherit;
  padding: 5px 25px;
  cursor: pointer;
}

/* general classes */

.flex {
  display: flex;
}

.flex-sb {
  justify-content: space-between;
}

.gap20 {
  gap: 20px;
}

.gap30 {
  gap: 30px;
}

.dark-bg0 {
  background-color: #1F2937;
}

.light-bg {
  background-color: #E5E7EB;
}

.dark-bg1 {
  background-color: #3882F6;
}

.dark-bg2 {
  background-color: #3882F6;
}

.fs0 {  /*largest*/
  font-size: 48px;
}

.fs1 {
  font-size: 36px;
}

.fs2 {
  font-size: 24px;
}

.fs3 {
  font-size: 18px;
}

.fc-light0 {  /*font color*/
  color: #F9FAF8;
}

.fc-dark0 {
  color: #1F2937;
}

.fc-medium0 {
  color: #1F2937;
}

.fc-medium1 {
  color: #E5E7EB;
}

/* Specific classes */

ul > li {
  list-style: none;
  padding-left: 50px;
}

header {
  padding: 20px 200px 0 200px;
} 

section .one,
section .four{
  padding: 0 200px;
}

section .two,
section .three{
  padding: 0 300px;
}

section .one { 
  padding-top: 100px;
  padding-bottom: 100px;
}

.headingDiv {
  width: 500px;
}

h1 {
  line-height: 1.2;
}

.headingDiv > * {
  padding-bottom: 10px;
}

section .two {
  padding-top: 50px;
  padding-bottom: 100px;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

.demo-img > div {
  width: 150px;
}

section .three {
  padding-top: 100px;
  padding-bottom: 100px;
}

.quote-author {
  text-align: right;
}


.demo-img img {
  border: 5px solid #3882F6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.demo-img p {
  font-size: 16px;
}


section .four {
  margin: 100px 150px;
  padding: 30px 100px;
}

.action-word {
  font-weight: bold;;
}

.four button {
  border: 1px solid #F9FAF8;
  font-weight: bold;
}

footer p {
  text-align: center;
}



